@model DataLibrary.Models.OrderModel
@{
    ViewData["Title"] = "Delete Order";
}

@if (@Model is null)
{
    <h1>The Order Was Not Found</h1>
}
else
{
    <h1>Delete Order</h1>

    <p>
    Are you sure you want to delete the order made by @Model.OrderedBy on
    <time datetime="@Model.Date.ToString("s")">@Model.Date</time>
    ?
</p>

    <form method="post">
    <input type="submit" value="Delete Order" class="btn btn-danger">
</form>
}